* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --highlight-color: #ba9f65;
  --background-color: #170607;
  --font-color: #f5f5f7;
  --font-color-active: white;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

form {
  margin: 1rem 0;
}

button {
  background-color: transparent;
  color: var(--font-color);

  padding: 0.5rem;
  border: 2px solid var(--highlight-color);
  border-radius: 1rem;
}

a {
  color: var(--font-color);
}

a:hover {
  color: var(--highlight-color);
}

input {
  background-color: transparent;

  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid var(--font-color);
  /* border-radius: 1rem; */

  color: var(--font-color);
}

input:focus {
  border-bottom: 2px solid var(--highlight-color);
}

button:hover {
  background-color: var(--highlight-color);
}

.container {
  width: 100%;
  /* max-width: 600px; */
  min-height: calc(100vh - 2px); /* minus 1px for the footer border */
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: space-around;
}

.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav::before,
.nav::after,
.footer::before,
.footer::after {
  content: "";
  background: linear-gradient(to right, #000 0%, #eec965 50%, #000 100%);
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
}

.nav-list {
  list-style-type: none;

  padding: 0;
  margin: 0 auto 0 auto;

  height: 3rem;
  min-width: 300px;
  max-width: 900px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 18px;
}

.nav-list button {
  border: none;

  text-decoration: underline;
  cursor: pointer;

  padding: 0;
  margin: 0;

  font-size: 18px;
}

.nav-list button:hover {
  background-color: unset;
  color: var(--highlight-color);
}

.main {
  margin: 1rem 0px;
  grid-area: main;
}

.welcome-prompt {
  text-align: center;
}

.msg {
  color: var(--font-color);
}

.game,
.main {
  margin: 1rem auto;

  text-align: center;

  max-width: 900px;
}

.game-prompt {
  line-height: 2rem;
}

.new-game button {
  padding: 0.5rem 5rem;
}

.footer {
  text-align: center;
  grid-area: footer;

  align-items: center;
}

.footer p {
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  button {
    transition: background 0.25s, color 0.25s;
  }

  input {
    transition: border 0.25s;
  }

  a {
    transition: color 0.25s;
  }
}
/* Login Page Specific */
.login-error-msg {
  margin: 1rem;

  color: var(--highlight-color);
}
/* Ranking Page Specific */
.rank {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranking-list {
  text-align: start;

  padding: 2rem;
}

.ranking-item {
  line-height: 1.5;
}
