<main class="main">

    <div class="welcome-prompt">
        <h1 class="welcome-prompt-text">Welcome! <span class="username-text">Username</span></h1>
    </div>
    <div class="rank">
        <h2 class="ranking-prompt">
            Top Ranking in the game
        </h2>
        <ol class="ranking-list">
            <li class="ranking-item">Eason: 1</li>
            <li class="ranking-item">Eason: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
                adipisci debitis
                similique a modi omnis.</li>
            <li class="ranking-item">Eason: 1</li>
            <li class="ranking-item">Eason: 1</li>
            <li class="ranking-item">Eason: 1</li>
            <li class="ranking-item">Eason: 1</li>
        </ol>
    </div>
</main>