* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: grid;
  grid-template-areas: "title user" "main main" "words words";
}

.title {
  margin-bottom: 1rem;
}

.login-form {
  grid-area: main;
}

.words {
  grid-area: words;
}

.words p,
.words form {
  margin: 1rem 0;
}
